/Backend/.vs
/Backend/RewardStar.Api/bin
/Backend/RewardStar.Api/obj
/Backend/RewardStar.Console/bin
/Backend/RewardStar.Console/obj
/Backend/RewardStar.Core/bin
/Backend/RewardStar.Core/obj
/Backend/RewardStart.Core/bin
/Backend/RewardStart.Core/obj